.DS_Store
.history
node_modules/
data_dir/
/dist/
/logs/
/logsDockerfile/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
assets/uploads

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# local env files
.env
.env.local
.env.production
.env.*.local
